<header>
  <section class="section-logo">
    <img src="../../../assets/images/marvel.png">
  </section>

  <section class="section-search">
    <div class="container-search">
      <input type="search" placeholder="Search character..." (keyup)="applyFilter(search)"  [(ngModel)]="search">
      <img src="../../../assets/icons/search.png" style="height: 40px;">
    </div>
  </section>
</header>

<main>
  <section>

    <section class="section-header">
      <div class="container-title-characters">
        <img class="img-characters" src="../../../../assets/icons/characters.png">
        <h1 class="title-characters"> Characters</h1>
      </div>

      <div class="container-filter">
        <select name="rental-option">
          <option value="" selected>Sort by</option>
          <option value="az">A-Z</option>
          <option value="za">Z-A</option>
        </select>
      </div>
    </section>


    <section>
      <div class="container">

        <div class="card-columns">
          <div class="card" *ngFor="let character of charactersFilter| paginate: { itemsPerPage: 20, currentPage: page }">
           <app-cards [character]="character"></app-cards>
          </div>
        </div>

      </div>
      <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
    </section>
  </section>

  <aside>
    <section class="section-title-favourites">
      <img src="../../../../assets/icons/favourites.png" width="40px" height="40px">
      <h5>My favourites</h5>
    </section>

    <div class="section-comics-favourites">
      <p *ngFor="let item of listFav" style="color: black;">{{item}}</p>
    </div>
  </aside>
</main>



