<header>
  <section class="section-logo">
    <img src="../../../assets/images/marvel.png">
  </section>

  <section class="section-search">
    <div class="container-search">
      <input type="search" placeholder="Search character..." (keyup)="applyFilter(search)"  [(ngModel)]="search">
      <img src="../../../assets/icons/search.png" style="height: 40px;">
    </div>
  </section>
</header>

<main>
  <section>

    <section class="section-header">
      <div class="container-title-characters">
        <img class="img-characters" src="../../../../assets/icons/characters.png">
        <h1 class="title-characters"> Characters</h1>
      </div>

      <div class="container-filter">
        <select name="rental-option" [(ngModel)]="sortBy" (change)="orderBy()">
          <option value="" selected hidden>Sort by</option>
          <option value="asc" >A-Z</option>
          <option value="desc">Z-A</option>
        </select>
      </div>
    </section>


    <section>
      <div class="container">

        <div class="card-columns">
          <div class="card" *ngFor="let character of charactersFilter| paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalItems }">
           <app-cards [character]="character"></app-cards>
          </div>
        </div>

      </div>
      <div class="pagination">
        <pagination-controls (pageChange)="page = $event" (click)="loadMoreCharacters()" previousLabel="" nextLabel=""></pagination-controls>
      </div>

    </section>
  </section>

  <aside>
    <section class="section-title-favourites">
      <img src="../../../../assets/icons/favourites.png" width="40px" height="40px">
      <h2 class="title-favourites">My favourites</h2>
    </section>

    <div class="section-comics-favourites">
      <div *ngFor="let item of listFav" style="color: black;" class="comics-favourites">
        <p class="name-comic"> {{item}} </p>
        <img src="../../../../assets/icons/btn-delete.png">
      </div>
    </div>
  </aside>
</main>



