section{
  background-color: white;
  width: 60%;
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  height: auto;
  box-shadow: #0000002c 0px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color:black
}
h2{
  margin: 0;
}
article{
  min-height: 200px;
}
.container-comic-data{
  display: grid;
  grid-template-columns:1fr 2fr;
  padding: 20px;
  gap: 10px;
}
.container-comic-image{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.comic-image{
  height: auto;
  width: 100%;
}
.container-buttons{
  display: grid;
  grid-template-columns:1fr 1fr;
  background-color: white;
}
.btn-comics, .btn-comics-added{
  border: none;
  cursor: pointer;
  background-color: #d8d8d8;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  gap: 10px;
  height: 60px;
}

.btn-comics:first-child{
  background-color: #ebebeb;
  color: black;
  padding: 10px;
  border-radius: 5px;
}
.btn-comics-added{
  background-color: rgb(31, 29, 29);
  color: red;

}
.container-btn-close{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.btn-close{
  border: none;
  background-color: transparent !important;
}
.img-close{
  cursor: pointer;
  width: 20px;
  padding: 5px;
}
@media (max-width:768px){
  section{
    width: 90%;
    height: auto;
  }
}
