.card-content{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr;
  gap: 15px;
  margin-top: -40px;
  margin-left: -30px;
  color:black
}
.card-title{
  margin-top: 10px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}
.card-text{
  display: -webkit-box;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
height: 100px;
}
.card-img{
  border-radius: 100%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  box-shadow: #cccccc 0px 0px 10px 0px;
}
.container-comics{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 15px;
  row-gap: 3px;
  color: #888888
}
.title-related-comics{
  color: #888888;
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0;
}
.container-comics p{
  display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
height: 43px;
margin: 5px 0;
font-size: 14px;
cursor: pointer;
}
button{
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  width: 100px;
  height: 40px;
  font-weight: 700;
}

/* Modal */

.background-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(4px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

