  <div class="card-body">
    <div class="card-content">

      <div>
        <img class="card-img" src="{{character?.thumbnail?.path}}.{{character?.thumbnail?.extension}}"
          alt="image-character">
      </div>

      <div>
        <h5 class="card-title">{{character?.name | uppercase }}</h5>
        <p class="card-text">{{character?.description}}</p>
        <button>
          VIEW MORE
        </button>
      </div>

    </div>

    <div>
      <h5 class="title-related-comics">Related comics</h5>
      <div class="container-comics" >
        <div *ngFor="let item of character?.comics?.items; let i=index">
          <p *ngIf="i<4" (click)="searchComic(item)">{{item?.name}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="background-modal" *ngIf="showModal">
    <app-modal (hideModal)="closeModal($event)" [comic]="comicData"></app-modal>
  </div>

