/* You can add global styles to this file, and also import other style files */
body, html, footer, header{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  color: #fdfdfd;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: rgb(238, 238, 238);
}
a{
  text-decoration: none;
  color: #fdfdfd;
}
