footer{
  background-color: rgb(31, 29, 29);
  height: 150px;
  width: 100vw;
  bottom: 0;
  padding: 10px 30px;
  overflow: hidden;
  position: absolute;
  box-shadow: rgb(73, 73, 73) 0px 0px 10px 0px;
}
.section-copyright{
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.copyright-text{
  color: rgb(255, 255, 255);
  font-size: 20px;
}
